@import "tailwindcss";

@theme inline {
  --font-plex: 'IBM Plex Serif', sans-serif;
  --font-space: 'Space Grotesk', sans-serif;

  --color-bg: #212A37;
  --color-accent: #cf5c36;
  --color-text: #eee5e9;
  --color-secondary: #7c7c7c;
  --color-border: #444444;
}

@layer components {
  .login-button {
    @apply py-2 px-4 border-1 md:text-xl border-border font-space rounded-lg cursor-pointer hover:bg-text hover:text-bg;
  }
  .pop-up-container {
    @apply fixed top-1/2 left-1/2 border-2 border-black -translate-x-1/2 -translate-y-1/2 text-center p-2 h-3/8 w-5/8 bg-accent text-white font-plex text-2xl md:text-4xl xl:text-6xl rounded-lg z-50 flex items-center justify-center
  }
}

